<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-model</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="example">
  		<input type="radio" id="one" value="One" v-model="picked">
  		<label for="one">One</label>
  		<br>
  		<input type="radio" id="two" value="Two" v-model="picked">
  		<label for="two">Two</label>
  		<br>
  		<span>Picked: {{ picked }}</span>
</div>
</body>
</html>
<script>
	new Vue({
		el: '#example',
		data: {
			picked: ''
		}
	})
</script>