<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>多个组件的过渡</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<style>
		.component-fade-enter-active, .component-fade-leave-active {
  			transition: opacity .3s ease;
		}
		.component-fade-enter, .component-fade-leave-to
		/* .component-fade-leave-active for below version 2.1.8 */ {
  			opacity: 0;
		}
	</style>
</head>
<body>
	<div id="example">
		<input type="radio" id="a" value="v-a" v-model="view">
		<label for="a">A</label>
		<br>
		<input type="radio" id="b" value="v-b" v-model="view">
		<label for="b">B</label>
		<transition name="component-fade" mode="out-in">
  		<component v-bind:is="view"></component>
		</transition>
	</div>
</body>
</html>
<script>
	new Vue({
  		el: '#example',
  		data: {
  		  view: 'v-a'
  		},
  		components: {
  		  'v-a': {
  		    template: '<div>Component A</div>'
  		  },
  		  'v-b': {
  		    template: '<div>Component B</div>'
  		  }
  		}
	})
</script>